<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css'%}">

</head>
<body>
    <div class="container reg">
    
    {% if messages %}
    <div class="container">
    <div class="alert alert-danger" role="alert">
        <div id='errors'>
            <h4 class="alert-heading">Warning!</h4>
            {% for message in messages %}
                <p class="mb-0">- {{message}} -</p>
            {% endfor %}
        </div>
    </div>
</div>
    {% endif %}

    
            <h1 class="loginwall">Register</h1>

                <form action="/register" method="POST" class="loginwall">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name:</label>
                        <input type="text" name="first_name" class="form-control" id="first_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name:</label>
                        <input type="text" name="last_name" class="form-control" id="last_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Eamil:</label>
                        <input type="email" name="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="password_confirm" class="form-label">Password Confirm:</label>
                        <input type="password" name="password_confirm" class="form-control" id="password_confirm" required>
                        
                    </div> 
                    <div class="regindiv">
                        
                    <button type="submit" class= "btn btn-primary" value="Create User"> Create User </button>
                    <a class="space" href="/linklogin"> Login</a>
                </div>
                </form><!--Main reg-->
            
    
</body>
</html>